*.docx
tables.hs
/icfp2022-paper40-anonymized_other_supplement
lander copy.hs
lander2.hs
landertables.hs
pres.hs
Presentatie_thesis.pptx
oldWeakExceptReduc
reduction
/interpreter/reductionNoSteps
reductionMap
forWeakExcepSeq
/presentatie
calculus_scoped_effects_handlers.pdf
planning_semester_2.drawio
Presentatie_thesis_2.pptx