*.docx
tables.hs
/icfp2022-paper40-anonymized_other_supplement
lander copy.hs
lander2.hs
landertables.hs
pres.hs
Presentatie_thesis.pptx
oldWeakExceptReduc
reduction
/interpreter/reductionNoSteps
reductionMap
forWeakExcepSeq
/presentatie
calculus_scoped_effects_handlers.pdf
planning_semester_2.drawio
Presentatie_thesis_2.pptx
interpreter/reductionFlat
interpreter/typecheck
diag.png 
pres.pptx
poster_lander_debreyne_dtai.*
dist-newstyle/*
Thesis.pdf
accum
forMap
forWeakExcep
landerscoped.hs
oldWeakExceptReduc
planning_semester_2.*
reduction*
structuur
thesis.cabal
veranderingen
weakException*
thesis/*